body { 
  background: grey;
  font-family:cursive;
    color: blue; 
}

p { 
  color: ghostwhite;
}

img {
  float: right;
  width:250px;
  height:350px;
  
  
  
}

img {
  float: right;
  width:250px;
  height:350px;
  
  
  

}

}
h1 {
  font-weight: bold;
}
